<div class="game-background">
<main class="stage">
    <div class="overlay"></div>
    <div class="wrapper">
        <div class="modal" id="setting">
            <div class="modal-content">
                <h3>What would you like to do?</h3>
                <button id="save-progress" class="waves-effect waves-light btn-large">Save Progress</button>
                <a href="/logout">
                    <button class="logout waves-effect waves-light btn-large">Logout</button>
                </a>
            </div>
        </div>
        <div class="side-bar">
            <div class="currnet-level">
                <p>Level:</p>
            </div>
            <div class="current-exp">
                <p>Exp:</p>
            </div>
        </div>
        <div class="heartsFood">
            <div class="health">
                <span class="health-0 health-full">
                    <i class="material-icons medium">favorite</i>
                </span>
                <span class="health-1 health-full">
                    <i class="material-icons medium">favorite</i>
                </span>
                <span class="health-2 health-full">
                    <i class="material-icons medium">favorite</i>
                </span>
                <p>Food:
                    <span class="counter">0</span>
                </p>
            </div>
              <div class="numBabies">
            <div><p>Number of Babies:
                <span class="babby-count"> 0 </span>
                </p>
                <button class="have-babby  teal btn"> Have Baby </button>
            </div>
        </div>
        </div>
        <div class="resources">
            <ul>
                <li>Worms:
                    <span class="resource-worm"> 0 </span>
                    <button><a class="buy-worm">
                        <i class="material-icons">attach_money</i>
                    </a></button>
                    <span class="collect-worm"> [] </span>
                </li>
                <li>Fishs:
                    <span class="resource-fish"> 0 </span>
                    <button><a class="buy-fish">
                        <i class="material-icons">attach_money</i>
                    </a></button>
                    <span class="collect-fish"> [] </span>
                </li>
                <li>Sharks:
                    <span class="resource-shark"> 0 </span>
                 <button><a class="buy-shark">
                        <i class="material-icons">attach_money</i>
                    </a></button> 
                    <span class="collect-shark"> [] </span>
                </li>
                <li>Dirt:
                    <span class="resource-dirt"> 0 </span>
                    <button><a class="buy-dirt">
                        <i class="material-icons">attach_money</i>
                    </a></button>
                    <span class="collect-dirt"> [] </span>
                </li>
                <li>Rocks:
                    <span class="resource-rock"> 0 </span>
                    <button><a class="buy-rock">
                        <i class="material-icons">attach_money</i>
                    </a></button>
                    <span class="collect-rock"> [] </span>
                </li>
                <li>Steel:
                    <span class="resource-steel"> 0 </span>
                    <button><a class="buy-steel">
                        <i class="material-icons">attach_money</i>
                    </a></button>
                    <span class="collect-steel"> [] </span>
                </li>
            </ul>
        </div>
        <div class="stats">
            <div>Heart Upgrade:
                <span class="heart-level"> 1 </span>
                <button class="upgrade-heart material-icons">exposure_plus_1</button>
            </div>
            <div>Food Upgrade:
                <span class="food-level"> 1 </span>
                <button class="upgrade-food material-icons">exposure_plus_1</button>
            </div>
            <div>Attack Upgrade:
                <span class="attack-level">1 </span>
                <button class="upgrade-attack material-icons">exposure_plus_1</button>
            </div>
            <div>Defense Upgrade:
                <span class="defense-level">1 </span>
                <button class="upgrade-defense material-icons">exposure_plus_1</button>
            </div>
            <div>House Upgrade:
                <span class="house-level"> 1 </span>
                <button class="upgrade-house material-icons">exposure_plus_1</button>
            </div>
            <div>Level Up Babies:
                <span class="babby-level"> 1 </span>
                <button class="upgrade-babby material-icons">exposure_plus_1</button>
            </div>
        </div>
        <div class="boss"><span>HP:</span>  <span class="boss-hp">10</span> 
            <div class="boss-image monster"></div>
            <div><span>Stage: </span><span class="current-stage" ></span></div>
            <div class="battle-time-div">Battle Time: <span class="battle-time"></span></div>
        </div>
        <image class="octo" style="width:80px; margin-left:45%; margin-top:25%;" src="/images/original.gif"></image>
        
        
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large #00e5ff cyan accent-3">
                <i class="large material-icons">add_circle</i>
            </a>
            <ul>
                <li>
                    <a class="btn-floating light-blue lighten-2 modal-trigger" data-target="setting"id="settings">
                        <i class="material-icons">settings</i>
                    </a>
                </li>
                <li>
                    <a class="btn-floating cyan lighten-2" id="shop">
                        <i class="material-icons">shopping_basket</i>
                    </a>
                </li>
                <li>
                    <a class="btn-floating teal lighten-2" id="upgrades">
                        <i class="material-icons">arrow_upward</i>
                    </a>
                </li>
            </ul>
        </div>
</main>
</div>
<script>
    $(document).ready(function () {
        $('.fixed-action-btn').floatingActionButton();
        {            
                $("#settings").on("click", function () {
                    $(".modal").modal();
                });
        }
        $("#shop").on("click", function () {
           if ($(".stats").css("display") == "inline" && $(".resources").css("display") == 'none') {
                $(".stats").css("display", "none");
                $(".resources").css("display", "inline");
            } else if ($(".resources").css("display") == 'none') {
                $(".resources").css("display", "inline")
            }
            else {
                $(".resources").css("display", "none")
            }
        });
        $("#upgrades").on("click", function () {
            if ($(".stats").css("display") == 'none' && $(".resources").css("display") == 'inline') {
                $(".resources").css("display", "none");
                $(".stats").css("display", "inline");
            } else if ($(".stats").css("display") == 'none') {
                $(".stats").css("display", "inline");
            } else {
                $(".stats").css("display", "none")
            }
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/javascript/main.js" type="module"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>