<main class="stage" >
    <div  class="overlay"></div>
<h1>Octopi Goodness</h1>
<button id="save-progress">Save Progress</button>
<a href="/logout"><button>Logout</button></a>
<div class="side-bar">

    <h2 >Food: <span class="counter">0</span></h2>
    <div class="currnet-level">Level:</div>
    <div class="current-exp">Exp:</div>

    <div class="health" style="hieght:120px; postion:abloute; "> 
        <span  class="health-0 health-full">&hearts;</span>
        <span  class="health-1 health-full">&hearts;</span>
        <span  class="health-2 health-full">&hearts;</span>  
    </div>
     <div >Number of Babies:   <span class="babby-count"> 0  </span> <button class="have-babby" > Have Babby </button> </div>
    <div class="resources">
        <ul>
            <li>Worms: <span class="resource-worm">  0 </span> <button  style="margin:5px;"class="buy-worm">Buy worm</button>  <span class="collect-worm" > [] </span>  </li>
            <li>Fishs: <span class="resource-fish">    0 </span> <button  style="margin:5px;"class="buy-fish">Buy Fish</button>  <span class="collect-fish" > [] </span>  </li>
            <li>Sharks: <span class="resource-shark"> 0 </span> <button  style="margin:5px;"class="buy-shark">Buy Shark</button>  <span class="collect-shark" > [] </span>  </li>
            <li>Dirt: <span class="resource-dirt">    0 </span> <button  style="margin:5px;"class="buy-dirt">Buy Dirt</button>  <span class="collect-dirt" > [] </span>  </li>
            <li>Rocks: <span class="resource-rock">   0 </span> <button  style="margin:5px;"class="buy-rock">Buy Rock</button>  <span class="collect-rock" > [] </span>  </li>
            <li>Steel: <span class="resource-steel">  0 </span> <button  style="margin:5px;"class="buy-steel">buy Steel</button>  <span class="collect-steel" > [] </span>  </li>
        </ul>
    </div>
    <div class="stats">
       
        <div>Heart upgrade:   <span class="heart-level"> 1  </span> <button class="upgrade-heart">Heart +</button> </div>
        <div>food upgrade:    <span class="food-level" > 1  </span> <button class="upgrade-food">Food Gathering +</button> </div>
        <div>Attack upgrade:  <span class="attack-level">1  </span> <button class="upgrade-attack">Attack + </button> </div>
        <div>Defense upgrade: <span class="defense-level">1 </span> <button class="upgrade-defense">Defense +</button> </div>
    </div>
     <div>House upgrade:   <span class="house-level"> 1  </span> <button class="upgrade-house">House +</button> </div>
      <div>Level Up Babies:   <span class="babby-level"> 1  </span> <button class="upgrade-babby">babby +</button> </div>
    
</div>

<div class="boss" style="border:1px solid red; width:300px; margin-left:50%; height:200px;">The Big Bad boss  <span>HP:</span>  <span class="boss-hp">10</span> 
    <div class="boss-image monster"> abc</div>
</div>
<image class="octo" style="width:80px; margin-left:45%; margin-top:25%;" src="/images/original.gif" ></image>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script src="/javascript/main.js" type="module"></script>

</main>
