<div class="row">
  <div class="top-right col-sm-2">
    <a href="/signup" class="waves-effect waves-teal btn-flat">Sign up</a>
  </div>
  <div class="row">
    <div class="main col-sm-4">
      <h1>Octopied</h1>
      <p>An octopus adventure...in space.</p>
      <form id="signin" name="signin" method="post" action="signin">
        <div class="input-field">
          <label for="email">Email address</label>
          <input id="email" type="email" name="email" class="validate">
          <span class="helper-text" data-error="Please enter a valid email address." data-success="Perfect"></span>
          <div class="input-field">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" class="validate">
            <span class="helper-text" data-error="Password must be 8 charachters" data-success="Perfect"></span>
          </div>
          <a href="/forgot" class="waves-effect btn-flat">Forgot Password?</a>
          <input class="waves-effect waves-light btn submit" type="submit" value="Sign In"></a>
          {{#if flashError}}
            <div class="error">{{flashError}}</div>
          {{/if}}
        </div>
      </form>
    </div>
  </div>
</div>