  /**************** Stage Backgrounds *************/
  .overlay{
    position:fixed;
    background:url('/../images/Metallic-Blue24.jpg');
    animation:100s scroll infinite linear;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity: 0.05;
    z-index: -3;
  }

  /**************** Animations (KeyFrames) ****************/
  @keyframes scroll {
    100%{
      background-position:0px 3000px;
    }
  }

  @keyframes beat {
    0%{
      font-size:3em;
    }
    50%{
      font-size:2.5em;
    }
    100%{
      font-size:3em;
    }
  }