body {
  background:url('/../images/Metallic-Blue1.jpg');
  z-index: 0;
  color: #f8bbd0;
  font-family: 'Work Sans', sans-serif;
}

.login {
  width:400px;
  height:250px;
  background: #ffffff;
  margin-left: 25%;
}

.counter {
  color:white;
}

.health-full {
  content:'&hearts;';
  color:red;
  font-size: 4em;
  animation:1s  infinite linear;
}

.resources{
  color:white;
  font-family: 'Work Sans', sans-serif;
  list-style: none;
  float: right;
}

.resources ul{
  list-style: none;
}
/* game */
.side-bar{
  float: left;
  font-family: 'Work Sans', sans-serif;
}
.stats{
  float: right;
  font-family: 'Work Sans', sans-serif;
}
.gameHeader{
  font-family: 'Kavivanar', cursive;
  text-align: center;
  font-size: 80px;
}

  /**************** Stage Backgrounds *************/
.overlay{
    position:fixed;
    background:url('/../images/Metallic-Blue24.jpg');
    animation:100s scroll infinite linear;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity: 0.05;
    z-index: -1;
  }

  /**************** Animations (KeyFrames) ****************/
  @keyframes scroll{
    100%{
      background-position:0px 3000px;
    }
  }

  @keyframes beat{
    0%{
      font-size:3em;
    }
    50%{
      font-size:2.5em;
    }
    100%{
      font-size:3em;
    }
  }

  @keyframes beat{
    0%{
      font-size:3em;
    }
    50%{
      font-size:2.5em;
    }
    100%{
      font-size:3em;
    }
  }
  
  .side-bar{
    float: left;
  }