body {
  background:url('/../images/Metallic-Blue1.jpg');
  z-index: 0;
  color: #f8bbd0;
  font-family: 'Work Sans', sans-serif;
}

.login {
  width:400px;
  height:250px;
  background: #ffffff;
  margin-left: 25%;
}

.counter {
  color:white;
}

.health-full {
  content:'&hearts;';
  color:red;
  font-size: 4em;
  animation:1s  infinite linear;
}

.resources{
  color:white;
  font-family: 'Work Sans', sans-serif;
  list-style: none;
  float: right;
}

.resources ul{
  list-style: none;
}
/* game */
.container{
  display: grid;
  grid-template-columns: (fr, fr, fr, fr); 
  grid-template-rows: (fr, fr, fr, fr);
  grid-template-rows:minmax(200px, auto);
  grid-gap: 1em;
}

.side-bar{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 4;
  grid-column-end: 4;
  border: 1px solid red;
}
.heartsFood{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  grid-row-start: 1;
  grid-row-end:1;
  grid-column-start:1;
  grid-column-end:1;
  border: 1px solid red;
}
.resources{
  display: flex;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  grid-row-start: 2;
  grid-row-end:2;
  grid-column-start:1;
  grid-column-end:1;
  border: 1px solid red;
}
.stats{
  display: flex;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  grid-row-start: 2;
  grid-row-end:2;
  grid-column-start:4;
  grid-column-end:4;
  border: 1px solid red;
}
.boss{
  display:none;
}
.octo{
  grid-row-start: 2;
  grid-row-end:3;
  grid-column-start:2;
  grid-column-end:3;
}
.numBabies{
display: none;
}
.setting{
  display: none;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  grid-row-start: 4;
  grid-row-end:4;
  grid-column-start:2;
  grid-column-end:3;
  border: 1px solid red;
}
button{
 color: white;
}

  /**************** Stage Backgrounds *************/
.overlay{
    position:fixed;
    background:url('/../images/Metallic-Blue24.jpg');
    animation:100s scroll infinite linear;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity: 0.05;
    z-index: -1;
  }

  /**************** Animations (KeyFrames) ****************/
  @keyframes scroll{
    100%{
      background-position:0px 3000px;
    }
  }

  @keyframes beat{
    0%{
      font-size:3em;
    }
    50%{
      font-size:2.5em;
    }
    100%{
      font-size:3em;
    }
  }

  @keyframes beat{
    0%{
      font-size:3em;
    }
    50%{
      font-size:2.5em;
    }
    100%{
      font-size:3em;
    }
  }
