body {
  background:url('/../images/Metallic-Blue1.jpg');
  z-index: 0;
  color: black;
  font-family: 'Work Sans', sans-serif;
  padding: 10px;

}

.login {
  width:400px;
  height:250px;
  background: #ffffff;
  margin-left: 25%;
}

.counter {
  color:white;
}

.health-full {
  color: darkred;
  font-size: 4em;
  animation:1s  infinite linear;
}


.resources ul {
  list-style: none;
}

/* game */
.wrapper{
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr; 
  grid-template-rows: 1fr, 1fr, 1fr, 1fr;
  /* grid-template-rows:minmax(300px, auto);
  grid-template-columns:minmax(250px, auto); */
  grid-gap: 1em;
}

.side-bar{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-row-start: 2;
  grid-row-end:2;
  grid-column-start:1;
  grid-column-end:1;
  background-color:#F4849F;
  border-radius: 5px;
    box-shadow: 0 5px 20px;
    margin-top: 10px;
    padding: 10px;
    color: lightgray;
    margin-top: -1em;
}
.heartsFood{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-row-start: 1;
  grid-row-end:1;
  grid-column-start:1;
  grid-column-end:1;
  color: lightgray;
background-color:#F16687;
padding: 10px;
border-radius: 5px;
  box-shadow: 0 5px 20px;
}
.resources{
  display: flex;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1;
  background-color:#F6A3B7;
  border-radius: 5px;
    box-shadow: 0 5px 20px;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    color: lightgray;
    margin-top: -1em;
   padding: 10px;
   font: 40px;
   line-height: 2em;
}


.stats{
  display: flex;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1;
  background-color:#F6A3B7;
  border-radius: 5px;
    box-shadow: 0 5px 20px;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    color: lightgray;
    margin-top: -1em;
   padding: 10px;
   font: 40px;
   line-height: 2em;
}
.boss{
  background-color: blue;
  grid-row-start: 1;
  grid-row-end:1;
  grid-column-start:4;
  grid-column-end:4;
}
.octo{
  
  grid-row-start: 2;
  grid-row-end:3;
  grid-column-start:2;
  grid-column-end:3;
}

.setting{
  display: none;
}
/* .buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  grid-row-start: 4;
  grid-row-end:4;
  grid-column-start:2;
  grid-column-end:3;
  border: 1px solid red;
} */

p{
  font-size: 20px;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all .3s ease-out;
}
.modal{
  background-image: url('/../images/modal-background.png');
  height: auto;
  width: auto;
  border:none;
  outline:none;
}


.logout
#save-progress{
  padding-top: 50px;
  color: light-gray;
  /* float: right;
  background: #F6A3B7;
  color: darkgray;
  display: block;
  height: auto;
  width: auto; */
}
  /**************** Stage Backgrounds *************/
.overlay{
    position:fixed;
    background:url('/../images/Metallic-Blue24.jpg');
    animation:100s scroll infinite linear;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity: 0.05;
    z-index: -1;
  }

  /**************** Animations (KeyFrames) ****************/
  @keyframes scroll {
    100%{
      background-position:0px 3000px;
    }
  }

  @keyframes beat {
    0%{
      font-size:3em;
    }
    50%{
      font-size:2.5em;
    }
    100%{
      font-size:3em;
    }
  }

/* media queries */ 

@media (max-width: 460px){
  .material-icons{
    font-size: 10px;
  }
background{
  background-image:url('/../images/Metallic-Blue24.jpg'),
  url('/../images/reef.jpg');
background-repeat: no-repeat,
  no-repeat;
background-position: top,
bottom;
}
resources{
  color: darkblue;
} 
}